.horizontalContainer {
  display: flex;
  flex-flow: wrap;
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.cardContainer {
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.cardVerticalContainer {
  height: 175px;
  width: 150px;
  border-radius: 5px;
  box-shadow: #878585 0px 6px 9px 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  margin: 10px;
}

.w3CardContainer {
  padding: 2px 16px;
}