.form {
  display: flex;
  margin: 20px auto;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

.formRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 5px;

}

.formInputContainer {
  height: 100%;
  width: 300px;
  margin: 10px;
}

@media (max-width: 680px) {
  .form {
    flex-direction: column;
    justify-content: center;
  }

  .formRow {
    flex-flow: column nowrap;
    align-items: stretch;
    height: auto;
  }

  .formInputContainer {
    width: 100%;
    max-width: none;
    margin: 5px 0;
  }

    .formInputContainer input, .formInputContainer label {
      width: 100%;
    }
}