.responsiveForm {
  display: flex;
  margin: 20px auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .responsiveForm {
    flex-direction: column;
  }
}