.container {
  padding: 20px;
}

.table {
  border-collapse: collapse;
  width: 80%;
}

.th {
  border: 1px solid #000000;
  padding: 4px;
  background-color: #e6e7e8;
}

.td {
  border: 1px solid #000000;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}